h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://images.saymedia-content.com/.image/t_share/MTk0NTIwMDQ4MzU2ODI4Nzgy/how-to-create-cool-website-backgrounds-the-ultimate-guide.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  color: #fff;
}
.page-container {
  padding: 0 0 0 50px; /* Adjust the padding value as needed */
}

img.edge {
  width: 100px;
  border-radius: 0 35px 0 35px;
  margin-right: 10px;
}

a {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  background-position: 8px center;
  background-repeat: no-repeat;
  padding-left: 32px;
  background-size: 16px 16px;
}

a:hover {
  background-color: #2980b9;
}

a.download {
  background-image: url("../Icons/downloads.png");
}

a.converter {
  background-image: url("../Icons/Converter.png");
}

a.next {
  background-image: url("../Icons/Next.png");
}

a.email {
  background-image: url("../Icons/Email.png");
  background-size: 20px 16px;
}

button {
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2em;
  padding: 10px 18px;
  border: none;
  border-radius: 3px;
  background: #3498db; /* Updated background color */
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 3px 0px #1f4579;
  transition: background 200ms;
}

button.linkButton {
  margin: 15px auto;
}

button:hover {
  background: #2980b9; /* Updated hover background color */
}

button:active {
  background: #1f4579; /* Updated active background color */
  box-shadow: 0 2px 3px -1px #b5b5b5;
}

input {
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 10px;
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 3px 0px #1f4579;
  transition: background 200ms;
}
input::after {
  margin-top: 5px;
  color: #888;
}
.linkBox {
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  width: 760px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #000;
  margin-bottom: 10px;
  border-radius: 100px;
  margin: 15px auto;
}

#displayArea {
  text-align: center;
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}
